dataset/
test/
MLLM/LLaVA/scripts/v1_5/checkpoints/
MLLM/LLaVA/scripts/v1_5/logs/
MLLM/LLaVA/scripts/v1_5/wandb/
Analysis/ckpt/
Analysis/scripts/pipeline/results/

Analysis_representation/data_guide.md
Analysis_representation/guide.md
Analysis_representation/docs


**/__pycache__/
*.pyc

Analysis_representation/results/