# basic
mode: spectral
device: cuda
num_samples: 500
batch_size: 128
seed: 42 # 从数据集sample
task_name: LLaVA_15_pretrain

# path
paths:  
  
  activation_save_dir: ./results/LLaVA_15_pretrain/geometry 
  forward_data_path: /root/localdata/COCO2017/train2017
  forward_data_path_json: /root/localdata/COCO2017/annotations/captions_train2017.json

# model
model:
  text_model_name_or_path: /root/hf_models/vicuna-7b-v1.5
  vision_model_name_or_path: /root/hf_models/clip-vit-large-patch14-336
  target_layer: last          # last / penultimate / all
  token_scope: text_last      # text_last / text_all / vision_all / all
  ckpt_path_folder: ../../ckpt/ckpt_LLaVA15_pretrain/20251029

# analysis
analysis:
  metrics:
    - rankme
    - alpha_req
    - effective_rank

# visual
plot:
  show_rank_curve: true
  show_singular_spectrum: true
  save_fig: true
